@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arvo:wght@700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Commissioner:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora&family=Manrope:wght@200..800&family=Merriweather:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@400;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=Raleway&family=Red+Hat+Text:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*=========================Custom Properties========================*/

:root
{
   /*=======Colors=====*/

   --color-purple:#4E4CA5;
   --color-white:#FFFFFF;
   --color-gray:#656568;
   --color-green:#45A69A;

   /*=======Typography=====*/

   --font-family:"Roboto" , sans-serif;

}

/*=========================Reset===========================*/

*,
*::after,
*::before{
margin:0;
padding:0;
box-sizing: border-box;
}

li{
list-style:none;
}

a{
text-decoration:none;
color:inherit;
}

button{
cursor:pointer;
}

button,
a,
span,
input {
display:block;
}

img{
max-width:100%;
display:block;
height:auto;
}

button,
input{
background:none;
border:none;
outline:none;
}

html{
scroll-behavior:smooth;
scroll-padding-top:30px;
scrollbar-width:thin;
font-family: var(--font-family);
font-size:15px;
}

body{
   background-color: var(--color-purple);
}

/*=========================Reused styles===========================*/

.main-container{
   padding-inline: 16px;
}

/*=========================Main styles===========================*/

.card-container{
   background-color:var(--color-white);
   margin-block-start:60px;
   border-radius:10px;
   padding:30px 20px 60px;
}

.tabs-holder{
   display: flex;
   padding:10px 12px;
   border-radius:13px;
   justify-content: space-between;
   border: 1px solid var(--color-gray);
   gap: 10px;
}

.tab-btn{
   padding:14px 14px ;
   background-color: var(--color-green);
   color: var(--color-white);
   border-radius:12px;
   font-weight: 700;
}







